body {
    font-family: 'Roboto', sans-serif;
}

nav {
    margin-left: 15px;
}

section {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    background-color: #ebe4e0;
    border-radius: 10px;
    max-width: 700px;
    max-height: 400px;
}

h2 {
    color: #72005F;
    margin-top: 0;
    font-size: 60px;
}

h5 {
    color: #BAA193;
    margin-bottom: 0;
    margin-top: 15px;
    font-size: 20px;
}

h3 {
    color: #72005F;
    margin-left: 20px;
    font-size: 26px;
}

p {
    color: #BAA193;
    margin-left: 20px;
    font-size: 20px;
}


img {
    max-width: 400px;
    max-height: 400px;
    margin-left: 30px;
    border-radius: 10px;
}